@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.gradient-border {
  position: relative;
  border-radius: inherit;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -2px; /* Adjust according to border width */
  left: -2px; /* Adjust according to border width */
  right: -2px; /* Adjust according to border width */
  bottom: -2px; /* Adjust according to border width */
  background: linear-gradient(135deg, #1e3a8a, #2b2b8a, #6d28d9); /* Gradient colors */
  z-index: -1;
  border-radius: inherit;
}
